div#pricinglist
  table
    - each price in pricing
      tr
        td
          = price.name
          |  |
        td
          = price.price
          |  |
        td
          = price.shortname
          |  |
        td
          = price.levelid