div#requests
  table
    tr
      td.bold
        | Requests:
      td
        - if (game.closed === "Y")
          | This game has already been sold.
        - if (game.closed !== "Y")
          - if (requests.length < 1)
            | No requests.
          - if (requests.length > 0)
            - var reqNum = 1;
            - each req in requests
              - var reqDate = helpers.formatDate(req.date);
              tr
                td
                td
                  | #{reqNum} - #{req.name} [#{reqDate}]
              - reqNum = reqNum + 1;
