
!= partial('partials/gamelist', { games: games })
        
- if (admin)
  form#seat-editor.hidden(method='POST', action='#')
    div
      label(for='section') Section #
      input(type='text', name='section')
    div
      label(for='row') Row #
      input(type='text', name='row')
    div
      label(for='seat') Seat #
      input(type='text', name='seat')
    div
      label(for='price') Price
      input(type='text', name='price')
    div  
      input(type='submit', value='Add Seat')
      a#seat-editor-cancel(href='#cancel') Cancel
    
