div#content
  != partial('partials/pricing', { pricing: pricing })
      
  div#pricingform
    form#priceform(method='POST', action='#')
      div
        label(for='name') Name
        input(type='text', name='name')
      div
        label(for='price') Price
        input(type='text', name='price')
      div
        label(for='shortname') Short name
        input(type='text', name='shortname')
      div
        label(for='levelid') Level ID
        input(type='text', name='levelid')
      div  
        input(type='submit', value='Add Seat')
        a(href='#reset') Reset
  .clear
