/* reset - blueprint mod */
ul, li {padding: 0; margin: 0;}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;font-weight: inherit;font-style: inherit;font-size: 100%;font-family: inherit;vertical-align: baseline;}
 
body
{
  background-color: #fff;
  font-family: Verdana, Sans-serif;
  font-size: 14px;
  color: #4f5155;
}

a, a:visited
{
  color: blue;
  text-decoration: none;
}

#wrapper
{
  border: 1px solid #cecece;
  border-top: none;
  margin: 0 auto 10px auto;
  width: 1000px;
  background-color: #f9f9f9;
}

#container
{
  padding: 0 20px;
  margin: 0 auto;
  width: 950px;
}

#header
{
  border-bottom: 1px solid #cecece;
}

#header ul
{
  list-style-type: none;
}

#header ul li
{
  display: inline;
  margin: 0 10px 0 0;
}

#header ul li.title, #header ul li.title a
{
  font-size: 28px;
  font-weight: bold;
}

#header ul li a
{
  font-size: 12px;
}

#footer
{
  padding: 0 20px 1px 0;
  text-align: right;
  width: 1000px;
  margin: 0 auto;
}

#footer span
{
  font-size: 11px;
}

#seat-editor label
{
  display: block;
  font-weight: bold;
  text-align: right;
  width: 100px;
  float: left;
  margin: 5px 0 0 0;
}

#seat-editor input[type="text"]
{
  margin: 5px 0 0 10px;
  width: 100px;
}

#seat-editor a
{
  font-size: 10px;
  color: blue;
  text-decoration: underline;
}

#seat-editor .buttons
{
  text-align: right;
  width: 218px;
}
/*#seat-editor input
{
  float: left;
  font-size: 12px;
  padding: 4px 2px;
  border: solid 1px #aacfe4;
  width: 200px;
  margin: 2px 0 20px 10px;
}*/

.hidden
{
  display: none;
}

.month
{
  border: 1px solid #cecece;
  border-bottom: none;
  margin: 20px 0;
  background-color: #f3f3f3;
}

.month h1
{
  padding: 10px;
  text-transform: uppercase;
  border-bottom: 1px solid #d0d0d0;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.month h1.hiding, .series h1.hiding
{
  background: #cecece;
  color: #f9f9f9;
}

.series
{
  border-bottom: 1px solid #d0d0d0;
}

.series h1
{
  padding: 6px 10px;
  font-weight: normal;
  font-style: italic;
  font-size: 14px;
}

.game
{
  padding: 6px 10px;
  list-style-type: none;
}

.game.pending
{
  background: #ff7f00;
}

.game.rejected
{
  background: #ffb7c6;
}

.game.approved
{
  background: #c0ff8f;
}

.game li
{
  margin: 0 5px 0 0;
  display: inline;
}

.game .date
{
  padding: 4px;
  font-weight: bold;
  font-size: 24px;
  border-right: 1px solid #d0d0d0;
}
